name: Test Secrets
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check
        run: echo "length=$(echo '${{ secrets.TEST_SECRET }}' | wc -c)"
